/* #region Global */
body {
    font-family: "Roboto", sans-serif; 
    background-color:#ffffff;
    color: #434455;
}
/* Block page scroll */
body:has(.backdrop.is-open) {
    overflow: hidden;
}
/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: currentColor;
    text-decoration: none;
}
button {
    font-family: inherit;
    cursor: pointer; 
   }

address {
    font-style: normal;
}
img {
    display: block;
}
/* Reset end */
/* Common */
.section {
    padding: 120px 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* #endregion */

/* #region Header section */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08)
}
.header-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-web {
    color: #2e2f42;
}
.header-nav-list {
    display: flex;
    gap: 40px;
}
.header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link.current {
    position: relative;
    color: #404bbf
}
.header-nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion */

/* #region Main section */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-but {
    min-width: 169px;
    min-height: 56px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   
.hero-but:hover,
.hero-but:focus {
    background-color: #404bbf;
}
/* #endregion */

/* #region Features section */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.features-item {
    width: 264px;
}
.features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.features-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}
.features-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
/* #endregion */

/* #region Team section */
.team {
    background-color: #f4f4fd;
}
.team-title {
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;

    color:#2e2f42 ;
}
.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) /4 );
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ffffff;
    box-shadow: 
     0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-div{
    padding: 32px 0;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color:#2e2f42 ;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.socials-team-list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
}
.socials-team-item {
    width: 40px;
    height: 40px;
}
.socials-team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-team-icon {
    fill: #f4f4fd;
}
.socials-team-link:hover,
.socials-team-link:focus {
    background-color: #404bbf;
}
/* #endregion */

/* #region Portfolio section */
.portfolio-title {
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
   
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 
     0px 1px 6px rgba(46, 47, 66, 0.08), 
     0px 1px 1px rgba(46, 47, 66, 0.16), 
     0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 32px;
    background-color: #4D5AE5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}
/* #endregion */

/* #region Footer section */
.footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-web {
    color: #f4f4fd;
}
.footer-slogan {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-top {
    margin-right: 120px;
}
.footer-caption {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.socials-list {
    display: flex;
    gap: 16px;
}
.socials-item {
    width: 40px;
    height: 40px;
 }
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
    fill: #f4f4fd;
}
.socials-link:hover,
.socials-link:focus {
    background-color: #31D0AA;
}
.footer-subscribe {
    margin-left: auto;
}
.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.form-input {
    width: 264px;
    height: 40px;
    left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #2e2f42;
    outline: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.form-input::placeholder {
    color: #ffffff;
}
.form-input:focus {
    border-color: #4D5AE5;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px;
}
.form-icon {
    fill: #ffffff;
}
.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf ;
}

/* #endregion */

/* #region Modal section */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%); scale(1.5);
}
.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    color: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    color: #ffffff;
}
.modal-btn-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-caption {
    max-width: 360px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: none;
    color: #2e2f42;
}
.modal-form-field {
    margin-bottom: 8px;
}
.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-form-wrapper {
    position: relative;
}
.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
}
.modal-form-input:focus {
    border-color: #4D5AE5;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}
.modal-form-message {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
    border-color: #4D5AE5;
}
.modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.form-agreement {
    margin-bottom: 24px;
}
.agreement-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.agreement-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color, background-color;
    cursor: pointer;
}
input[type='checkbox']:checked+.agreement-wrapper>.agreement-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
    color: #f4f4fd;
}
.agreement-checkbox-icon {
    fill: currentColor;
}
.agreement-link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.accent-text {
color: #4D5AE5;
}
.btn-accent {
    min-width: 169px;
    min-height: 56px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-accent:hover,
.btn-accent:focus {
    background-color: #404bbf;
}

/* #endregion */
